<div class="container">
    <h5 style="text-align: center;">Please Provide Details</h5>
    <div class="mb-3">
        <label for="inputImage" class="form-label">Name</label>
        <input type="text" [(ngModel)]="user.username" class="form-control" id="inputImage">
    </div>
    <div class="mb-3">
        <label for="inputPrice" class="form-label">Email Id</label>
        <input type="email" [(ngModel)]="user.emailId" class="form-control" id="inputPrice">
    </div>
    <div class="mb-3">
        <button type="button" class="btn btn-outline-primary">Submit</button>
    </div>
</div>