.card {
    margin-top: 322px;
    border: none;
    width: 700px;
    padding: 44px;
    position: absolute;
    top: 50%;
    left: 105%;
    transform: translate(-50%, -50%);
    background: rgb(23, 190, 219);
    background: linear-gradient(90deg, rgb(23, 190, 219) 0%, rgba(109, 118, 240, 0.89) 100%);
}

.card h1 {
    color: #fff;
}

label {
    color: #f8f8f6;
    left: 50%;
}