 <div class="container-flued">
  <nav class="navbar navbar-expand-lg bg-primary shadow-sm">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li>
            <i class='fas fa-book-open' style='font-size:48px;color:rgb(227, 228, 233)'></i>
          </li>
          <li class="nav-item">
            <b><a class="nav-link active" aria-current="page" href="#">Books</a></b>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/getAll" href="#">Get All Books</a>
          </li>
          <li class="nav-item">
            <div class="collapse navbar-collapse mb-2" id="navbarSupportedContent">
              <button class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
                data-bs-target="#addStudent" type="submit">Add
                Book Records</button>
            </div>
          </li>
          <li class="nav-item">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="search Books">
            </div>
            <span class="fas fa-search search-icon"></span>
          </li>
          <li class="nav-item">
            <div>
            <button routerLink = "/cart" class="btn btn-primary">
              <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
              <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
            </button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Add Book Modal -->
  <div class="modal fade " id="addStudent" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add new Book</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body ">
          <div class="container">
            <h3 style="text-align: center;">Book Details</h3>
            <div class="mb-3">
              <label for="inputEmail1" class="form-label">Title</label>
              <input type="text" [(ngModel)]="books.title" class="form-control" id="inputEmail1">
          </div>
          <div class="mb-3">
              <label for="inputCategory" class="form-label">Category</label>
              <input type="text" [(ngModel)]="books.category" class="form-control" id="inputCategory">
          </div>
          <div class="mb-3">
              <label for="inputImage" class="form-label">Image</label>
              <input type="text" [(ngModel)]="books.image" class="form-control" id="inputImage">
          </div>
          <div class="mb-3">
              <label for="inputPrice" class="form-label">Price</label>
              <input type="number" [(ngModel)]="books.price" class="form-control" id="inputPrice">
          </div>
          <div class="mb-3">
              <label for="inputPublisher" class="form-label">Publisher</label>
              <input type="text" [(ngModel)]="books.publisher" class="form-control" id="inputPublisher">
          </div>
          <div class="mb-3">
              <label for="inputActive" class="form-label">Active</label>
              <input type="text" [(ngModel)]="books.active" class="form-control" id="inputActive">
          </div>
          <div class="mb-3">
              <label for="inputContent" class="form-label">Content</label>
              <input type="text" [(ngModel)]="books.content" class="form-control" id="inputContent">
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" (click) = "save()">Add Book</button>
          </div>
        </div>
      </div>
    </div>
  </div>
 </div> 


<!-- <header>
  <div class = "navbar navbar-dark bg-primary shadow-sm">
    <i style="font-size: 40px;" class= "fas fa-book-open"></i>
    <strong style="font-size: 30px;">Book</strong>

    <div class="form-group">
      <input type="text" class="form-control" placeholder="search Books">
    </div>
    <span class="fas fa-search search-icon"></span>
    
    
    <button class="btn btn-primary">
      <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
      <div style="font-size: 10px;" class="badge bg-danger">5</div>
    </button>
  </div>
</header> -->