.form-control{
    border-radius: 3px;
    width: 486px;
    margin-left: 130px;
    margin-right: 178px;
}
.search-icon{
    position: absolute;
    z-index: 10;
    right: 23%;
    top: 20px;
    color : blue;
}