.card {
    margin-top: -208px;
    border: none;
    width: 490px;
    padding: 40px;
    position: absolute;
    top: 55%;
    left: 160%;
    transform: translate(-50%, -50%);
    background: rgb(197, 219, 223);
    background: linear-gradient(90deg, rgb(12, 139, 230) 0%, rgb(146, 135, 167) 100%);
}

.card h1 {
    color: #fff;
}

label {
    color: rgb(243, 243, 237);
    left: 50%;
}